/* PDF表示用のキャンバスをレスポンシブにするためのスタイル */
#pdf-canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Fullscreen API で全画面表示になったときのスタイル */
#presentation-main:-webkit-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#presentation-main:-moz-full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#presentation-main:-ms-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#presentation-main:fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
